@import 'tailwindcss';
@plugin '@tailwindcss/typography';

a {
	padding: 2px;
	border: 1px outset buttonborder;
	border-radius: 3px;
	color: buttontext;
	background-color: buttonface;
	text-decoration: none;
}
